<% wrap_layout :layout do %>
<article id="post" itemscope itemtype="http://schema.org/BlogPosting">
  <header>
    <h1 itemprop="name"><%= current_page.title %></h1>

    <div id="meta">
      <time class="post-date" itemprop="dateCreated" datetime="<%= current_page.date.strftime('%Y-%m-%d') %>"><%= localize_date(current_page.date) %></time>
    </div>
  </header>

  <div id="content" itemprop="articleBody">
    <%= yield %>

    <div class="authorship" itemprop="author" itemscope itemtype="http://schema.org/Person">
      <a href="https://plus.google.com/112639155372207976835/" itemprop="url" rel="author">Alexandru Nedelcu</a>
    </div>
  </div>

  <footer>
    <div id="other-articles">
      <h2>Articole Recente</h2>

      <ul class="posts">
	<% page_articles.find_all{|x| !x.data.archive && x.url != current_page.url}[0..6].each_with_index do |article, i| %>	
	<li> 
	  <time datetime="<%= article.date.strftime("%Y-%m-%d") %>">
	    <%= article.date.strftime("%Y-%m-%d") %> &raquo;
	  </time>
	  <a href="<%= article.url %>" rel="prefetch related"><%= article.title %></a>
	</li>      
	<% end %>
      </ul>
    </div>
  </footer>
</article>
<% end %>
